Unparseable date 

iCalendar only supports second precision in DATE-TIME values - your proposed values specify milliseconds.  See:
[RFC 5545 section 3.3.5 - Value Name:  DATE-TIME](http://tools.ietf.org/html/rfc5545#section-3.3.5)

       date-time  = date "T" time ;As specified in the DATE and TIME
                                  ;value definitions


which refers to [RFC 5545 section 3.3.12 - Value Name:  TIME](http://tools.ietf.org/html/rfc5545#section-3.3.12)


       time         = time-hour time-minute time-second [time-utc]

       time-hour    = 2DIGIT        ;00-23
       time-minute  = 2DIGIT        ;00-59
       time-second  = 2DIGIT        ;00-60
       ;The "60" value is used to account for positive "leap" seconds.

       time-utc     = "Z"


Oh, I see!
Thanks, @fatkudu.

Is there any way to tell iCal4j to drop the millisecond bit but not the rest?

With relaxed parsing it turns:

20151022**T171145975Z** into 20151022**T000000**

Losing completely the time.

> Is there any way to tell iCal4j to drop the millisecond bit but not the rest?

Which server generates such date-times? Wouldn't it be better to fix this on server side?

It's a nodeJS server using:  ```new Date().toISOString()```