Value comparisons for enumerated values should be case insensitive

RFC5545 section 2 has 

All names of properties, property parameters, enumerated property
   values, and property parameter values are case-insensitive.

So code like this:

`            Status status;
            if (Status.VEVENT_CANCELLED.getValue().equals(value)) {
                status = Status.VEVENT_CANCELLED;
`
really should use equalsIgnoreCase

The rewritten version in develop should convert to upper-case before the comparison. 

It's not a show-stopper and I've no idea how much lower case stuff there is around but thought it worth mentioning.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (please complete the following information):**
 - OS: [e.g. Windows, Linux, Android]
 - Java Version [e.g. 7, 8, 9]
 - iCal4j Version

**Additional context**
Add any other context about the problem here.


This would mean changes to the TextList class. In my local copy I added a contains method  then added a containsIgnore Case. A better approach may be to have a subclass of TextList or a constructor parameter which indicates case insensitivity so the contains method would ignore case.

Yeah it's a good point and I have made a few changes. 

Interesting to note that ical4j will actually convert to uppercase via the factories used in the parsing process, which follows logic something like this:

1. Check each property factory for support for a given property name (name token can be any case *)
2. When found, use property factory to create property instance with given value (this will always use uppercase name)

* _Note I have only just modified to support any case in the property factory check, so that was an oversight_

And there are other places (like validation example above) where I need to fix the comparison to ignore case.

Should probably widen the scope of this. Just noticed this in ComponentBuilder:

`
    public boolean hasName(String name) {
        return name.equals(this.name);
    }
`

That should really be equalsIgnoreCase.

I guess a fairly simple test would be to take a complex VEVENT and compare it with the (mostly) lower case equivalent