The default value type of property RDATE is not applied in VEvent.calculateRecurrenceSet​(Period period)

**Describe the bug**
According to RFC 2445 section 4.8.5.3, the default value type of property RDATE equals DATE-TIME. However, when calculating the recurrence set for an event with `RDATE:20221014T194500,20221028T194500,20221111T194500,
 20221125T194500,20221209T194500,20230113T194500`, only the current event period is returned.

**To Reproduce**
Steps to reproduce the behavior:
1. Define a valid VEvent with `RDATE=20221014T194500,20221028T194500,20221111T194500,
 20221125T194500,20221209T194500,20230113T194500`.
2. Call `VEvent.calculateRecurrenceSet​(Period period)` with a period containing the defined dates.

**Expected behavior**
I would expect the method to return a list of periods based on RDATE.

**Environment (please complete the following information):**
 - OS: Linux & MacOS
 - Java Version: 11
 - iCal4j Version: 3.2.6

**Additional context**
When defining RDATE as `RDATE;VALUE=DATE-TIME:20221014T194500,20221028T194500,20221111T194500,
 20221125T194500,20221209T194500,20230113T194500`, everything works as expected.


Thanks for submitting this. I can confirm it is a bug,  but should be a pretty simple fix.

Will update further when I've applied the fix.

Fix is now available in latest release (3.2.7)