ICAL parsing failed due EXDATE with specified timezone 

**Unable to parse ical with EXDATE if timezone specified **
According to [https://tools.ietf.org/html/rfc5545#section-3.8.5]
(https://tools.ietf.org/html/rfc5545#section-3.8.5)
EXDATE can have TimeZone definition , but I can be wrong here. 
```plain
exdate     = "EXDATE" exdtparam ":" exdtval *("," exdtval) CRLF

       exdtparam  = *(
                  ;
                  ; The following are OPTIONAL,
                  ; but MUST NOT occur more than once.
                  ;
                  (";" "VALUE" "=" ("DATE-TIME" / "DATE")) /
                  ;
                  (";" tzidparam) /
                  ;
                  ; The following is OPTIONAL,
                  ; and MAY occur more than once.
                  ;
                  (";" other-param)
                  ;
                  )

       exdtval    = date-time / date
       ;Value MUST match value type
```

**To Reproduce**
```java
import net.fortuna.ical4j.data.CalendarBuilder;
import net.fortuna.ical4j.data.ParserException;
import net.fortuna.ical4j.util.CompatibilityHints;

import java.io.IOException;
import java.io.StringReader;

public class Test {

    public static void main(String[] args) throws IOException, ParserException {
        final String ical = "BEGIN:VCALENDAR\n" +
                "CALSCALE:GREGORIAN\n" +
                "PRODID:-//Apple Inc.//Mac OS X 10.12.3//EN\n" +
                "VERSION:2.0\n" +
                "BEGIN:VTIMEZONE\n" +
                "TZID:Europe/Berlin\n" +
                "BEGIN:STANDARD\n" +
                "DTSTART:20010101T030000\n" +
                "TZOFFSETFROM:+0200\n" +
                "TZOFFSETTO:+0100\n" +
                "RRULE:FREQ=YEARLY;BYDAY=-1SU;BYMONTH=10\n" +
                "END:STANDARD\n" +
                "BEGIN:DAYLIGHT\n" +
                "DTSTART:20010101T020000\n" +
                "TZOFFSETFROM:+0100\n" +
                "TZOFFSETTO:+0200\n" +
                "RRULE:FREQ=YEARLY;BYDAY=-1SU;BYMONTH=3\n" +
                "END:DAYLIGHT\n" +
                "END:VTIMEZONE\n" +
                "BEGIN:VEVENT\n" +
                "CLASS:PUBLIC\n" +
                "EXDATE;VALUE=DATE;TZID=Europe/Berlin:20170223\n" +
                "EXDATE;VALUE=DATE;TZID=Europe/Berlin:20170302\n" +
                "EXDATE;DATE-TIME=DATE;TZID=Europe/Berlin:20170330\n" +
                "RRULE:FREQ=WEEKLY;UNTIL=20170330;BYDAY=TH\n" +
                "X-APPLE-TRAVEL-ADVISORY-BEHAVIOR:AUTOMATIC\n" +
                "CREATED:20170215T113416Z\n" +
                "END:VEVENT\n" +
                "END:VCALENDAR\n";

        System.setProperty("ical4j.parsing.relaxed", "true");
        System.setProperty("ical4j.validation.relaxed", "true");
        System.setProperty("ical4j.compatibility.outlook", "true");
        System.setProperty("ical4j.compatibility.notes", "true");
        System.setProperty("ical4j.unfolding.relaxed", "true");
        System.setProperty("net.fortuna.ical4j.timezone.update.enabled", "true");
        System.setProperty("net.fortuna.ical4j.timezone.date.floating", "true");
        System.setProperty("net.fortuna.ical4j.timezone.cache.impl", "net.fortuna.ical4j.util.MapTimeZoneCache");

        CompatibilityHints.setHintEnabled(CompatibilityHints.KEY_RELAXED_PARSING, true);
        CompatibilityHints.setHintEnabled(CompatibilityHints.KEY_RELAXED_VALIDATION, true);
        CompatibilityHints.setHintEnabled(CompatibilityHints.KEY_RELAXED_UNFOLDING, true);
        CompatibilityHints.setHintEnabled(CompatibilityHints.KEY_OUTLOOK_COMPATIBILITY, true);
        CompatibilityHints.setHintEnabled(CompatibilityHints.KEY_NOTES_COMPATIBILITY, true);

        (new CalendarBuilder()).build(new StringReader(ical));
    }
}

```

Result 
```shell
Exception in thread "main" net.fortuna.ical4j.data.ParserException: Error at line 29:TimeZone is not applicable to current value
	at net.fortuna.ical4j.data.CalendarParserImpl.parse(CalendarParserImpl.java:158)
	at net.fortuna.ical4j.data.CalendarBuilder.build(CalendarBuilder.java:183)
	at net.fortuna.ical4j.data.CalendarBuilder.build(CalendarBuilder.java:171)
	at Test.main(Test.java:56)
Caused by: java.lang.UnsupportedOperationException: TimeZone is not applicable to current value
	at net.fortuna.ical4j.model.property.DateListProperty.setTimeZone(DateListProperty.java:135)
	at net.fortuna.ical4j.data.DefaultContentHandler.resolveTimezones(DefaultContentHandler.java:199)
	at net.fortuna.ical4j.data.DefaultContentHandler.endCalendar(DefaultContentHandler.java:67)
	at net.fortuna.ical4j.data.CalendarParserImpl.parseCalendar(CalendarParserImpl.java:127)
	at net.fortuna.ical4j.data.CalendarParserImpl.parseCalendarList(CalendarParserImpl.java:180)
	at net.fortuna.ical4j.data.CalendarParserImpl.parse(CalendarParserImpl.java:149)
	... 3 more
```
**Expected behavior**
As far as I understand RFC5545#section-3.8.5 TimeZone param is allowed so calendar parser should apply timezone .

**Environment (please complete the following information):**
 - OS: linux
 - Java Version  8



Sorry forgot to mention

Ical4j version is 3.0.11

```plain
<dependency>
            <groupId>org.mnode.ical4j</groupId>
            <artifactId>ical4j</artifactId>
            <version>3.0.11</version>
</dependency>
```

as workaround remove TZID before parsing ical 

```shell
jshell> Pattern.compile("EXDATE;(.*);TZID=.*:(.*)").matcher("EXDATE;VALUE=DATE;TZID=Europe/Berlin:20150311").replaceAll("EXDATE;$1:$2")
$4 ==> "EXDATE;VALUE=DATE:20150311"

```

It seems that issue in TZID it self
with follwoing line everything works fine 
```plain
EXDATE;VALUE=DATE;TZID="(UTC+01:00) Amsterdam, Berlin, Bern, Rom,
 Stockholm, Wien":20170112
```
and if 
```plain
EXDATE;VALUE=DATE;TZID=Europe/Berlin:20170223
```
change to 
```plain
EXDATE;VALUE=DATE;TZID=(Europe/Berlin):20170223
```
everything is working .


It also works if you change 
`EXDATE;VALUE=DATE;TZID=Europe/Berlin:20170223` to 
`EXDATE;VALUE=DATE-TIME;TZID=Europe/Berlin:20170223`
while keeping the `KEY_RELAXED_PARSING` compatibility hint `true`.  The other hints don't seem to have any effect here.  Intuitively the error message makes sense because a pure date value with no time component doesn't need to have timezone information information associated with it.  

In my judgment the error message is in compliance with [section 3.2.19 of the RFC 5545 standard](https://tools.ietf.org/html/rfc5545#section-3.2.19) concerning the TZID parameter:
> The "TZID" property parameter MUST NOT be applied to DATE properties and DATE-TIME or TIME properties whose time values are specified in UTC.

While the default type of EXDATE is DATE-TIME according to [section 3.8.5.1 of the standard](https://tools.ietf.org/html/rfc5545#section-3.8.5.1), in the example it gets changed to DATE through the use of the VALUE parameter.  I validated the example data above using the [iCalendar.org validator](https://icalendar.org/validator.html) and, surprisingly, it passed after I inserted the following data at line 21 to make the VEVENT valid:
```
DTSTAMP:20170202T000000
UID:1
DTSTART:20170215
```
These results suggests that, in this case the iCalendar.org validator is wrong for not enforcing section 3.2.19 and iCal4J is correct.

@benfortuna what do you think?

I just tried with

- latest ical4j 3.x: issue was present
- latest ical4j 4.x (4.2.3): issue not present anymore, EXDATE is parsed correctly

So I think this can be closed.

Yeah it's quite old, I think I missed it completely. Thx for bringing to my attention.