Catch mismatched timezones in VEVENT belonging to recurrence

I'm not sure if this is the kind of thing that ical4j wants to handle, but I figured I would raise the issue for discussion at least. A user sent me a snippet of a calendar containing an event like this:

    BEGIN:VEVENT
    ...
    DTSTART;TZID=US/Eastern:20160531T200000
    RECURRENCE-ID:20160608T000000
    END:VEVENT`

The problem with this is that according to RFC-5545 § 3.8.4.4, either both the DTSTART and RECURRENCE-ID have to either be local times or have time zones. In this case, only the DTSTART has one, and thus the event is not valid.

I can see roughly in model.component.VEvent.java where I might fix this, but I'd like to know if it's the kind of issue that should be fixed--whether a patch is likely to be accepted.

Hi Stephen,

We already try to handle some of the more common implementation flaws, so I
think what you are suggesting would be appropriate. We would probably do
this when one of the compatibility flags are enabled, such as relaxed
parsing.

Regards,
Ben
On 10 Jun 2016 7:37 am, "Steven N. Severinghaus" <notifications@github.com>
wrote:

I'm not sure if this is the kind of thing that ical4j wants to handle, but
I figured I would raise the issue for discussion at least. A user sent me a
snippet of a calendar containing an event like this:

BEGIN:VEVENT
...
DTSTART;TZID=US/Eastern:20160531T200000
RECURRENCE-ID:20160608T000000
END:VEVENT`

The problem with this is that according to RFC-5545 § 3.8.4.4, either both
the DTSTART and RECURRENCE-ID have to either be local times or have time
zones. In this case, only the DTSTART has one, and thus the event is not
valid.

I can see roughly in model.component.VEvent.java where I might fix this,
but I'd like to know if it's the kind of issue that should be
fixed--whether a patch is likely to be accepted.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/ical4j/ical4j/issues/85>, or mute the thread
<https://github.com/notifications/unsubscribe/AA8HhufkFxvZ4fGLHt0Ed9T9YA6nUovGks5qKIeNgaJpZM4Iybf2>
.
